<!Doctype html>

<html>
<head>
<title>About Us</title>
<link rel="icon" href="/img/me.jpg">
</head>
<link rel="stylesheet" href="/css/styles.css">
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Shahbaz Khan. It uses data from WeatheStack.com!</p>

    <img class="portrait" src="/img/me.jpg">
    </div>
    

    {{>footer}}
</body>

</html>